{% extends 'admin/model/list.html' %}

{% block head %}
    {{ super() }}
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block title %}
    Bacnet Administrator Web
{% endblock %}
{% block list_row_actions %}
    {{ super() }}
    <a class="icon" href="/admin/user/edit/?id=4&amp;url=%2Fadmin%2Fuser%2F" title="Scheduals">
        <span class="fa fa-pencil glyphicon icon-calendar"></span>
    </a>
    <a class="icon" href="/admin/user/edit/?id=4&amp;url=%2Fadmin%2Fuser%2F" title="Alarms">
        <span class="fa fa-pencil glyphicon icon-bell"></span>
    </a>
{% endblock %}


{% block brand %}
    <a class="brand" href="/admin/user/">Bacnet Admin</a>
{% endblock %}

{% block main_menu %}
     <ul class="nav">
        <li>
            <a href="/admin/user/">Users</a>
        </li>
        <li>
             <a class="nav-item nav-link" href="{{ url_for('users.profile') }}">Account</a>
        </li>
        <li>
            <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>

    </ul>


{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}