{% extends "auxiliar/layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='img_avatar2.png') }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.usr }}</h2>
            </div>
        </div>
        <form id="formUpdate" method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">User Info</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid", value=user.email) }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", value=user.email) }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.password_new.label(class="form-control-label") }}
                    {% if form.password_new.errors %}
                        {{ form.password_new(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password_new.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password_new(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password_repeat.label(class="form-control-label") }}
                    {% if form.password_repeat.errors %}
                        {{ form.password_repeat(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password_repeat.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password_repeat(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">

                    {% if user.admin %}
                        {{ form.admin(class="form-check-input ", checked=true) }}
                    {% else %}
                        {{ form.admin(class="form-check-input ") }}
                    {% endif %}
                    {{ form.admin.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info inline") }}

            </div>
            <div>
                <a href="{{ url_for('admin.users') }}">
                    <button type="button" class="btn btn-outline-danger inline">Cancel</button>
                </a>
            </div>
        </form>
    </div>
{% endblock content %}