<!DOCTYPE html>
<html lang="es">
<head>
    <title>Bacnet Administrator Web</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    {% block  js_script %}{% endblock %}
</head>
<body>
    <div id="mySidenav" class="sidenav">
        {% block lateral_panel %}{% endblock %}
    </div>
    <h2>
        <div id="main">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">
                &#9776;  &nbsp; {% block title %}   {% endblock %}
            </span>
        </div>
    </h2>


    {% block form %}
        {% block imagen %}
            <div class="imgcontainer">
                <img src="{{ url_for('static', filename='img_avatar2.png') }}" alt="Avatar" class="avatar">
            </div>
        {% endblock %}
    {% endblock %}

</body>
</html>