{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block js_script %}
    <script src="{{ url_for('static', filename='login_check.js') }}"></script>
{% endblock %}

{% block lateral_panel%}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Login</a>
    <a href="signup">Signup</a>
{% endblock %}

{% block title %}Login Form{% endblock %}

{% block form %}
    <form id="form">
        {% block imagen %}
            {{ super() }}
        {% endblock %}
        <div class="container">
            {{ macros.input('user', 'Username', 'Enter Username', 'text') }}
            {{ macros.input('pwd', 'Password', 'Enter Password', 'password') }}
             <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href='signup'>
                <button type="button" class="regbtn">Registro</button>
            </a>
            <span class="psw">Forgot <a href="reset_pass">password?</a></span>
        </div>
    </form>
{% endblock %}