{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block js_script %}
    <script src="{{ url_for('static', filename='reset_pass.js') }}"></script>
{% endblock %}

{% block lateral_panel%}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Login</a>
    <a href="http://ciprianilut.ddns.net/signup">Signup</a>
{% endblock %}

{% block title %}New Password Form{% endblock %}
{% block form %}
    <form id="form_new_pass" action="{{ url_for('users.new_pass', token=token) }}" method="post">
        {% block imagen %}
            {{ super() }}
        {% endblock %}

        <div class="container">
            {{ macros.input('pwd_new', 'Password', 'New Password', 'password') }}
            {{ macros.input('pwd_rpt', 'Password', 'Repeat new password', 'password') }}
            <button id="edit_btn" type="submit">Save</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
        </div>
    </form>
{% endblock %}