{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block js_script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('#form_rst_pass').onsubmit = () => {
                // Initialize new request
                const email = document.querySelector('#email').value;
                if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))) {
                    alert("You have entered an invalid email address, retry!");
                    document.querySelector('#email').value = '';
                    return false;
                }
                alert("If you have account, check your mailbox");
            };
        });
    </script>
{% endblock %}

{% block lateral_panel%}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Login</a>
    <a href="signup">Signup</a>
{% endblock %}

{% block title %}Reset Password Form{% endblock %}
{% block form %}



    <form id="form_rst_pass" action="{{ url_for('users.send_email') }}" method="post">
        {% block imagen %}
            {{ super() }}
        {% endblock %}

        <div class="container">
            {{ macros.input('email', 'Email', 'Enter Email', 'text') }}
            <button type="submit">Reset Password</button>

        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href='/'>
                <button type="button" class="cancelbtn">Cancel</button>
            </a>
        </div>

    </form>
{% endblock %}