{% extends "layout.html" %}

{% block js_script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#form_rst_pass').onsubmit = () => {
            // Initialize new request
            const email = document.querySelector('#email').value;
            if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))) {
                alert("You have entered an invalid email address, retry!");
                document.querySelector('#email').value = '';
                return false;
            }
            alert("If you have account, check your mailbox");
        };});
    </script>
{% endblock %}
{% block body %}


    <h2>Reset Form</h2>

    <form id="form_rst_pass" action="{{ url_for('users.send_email') }}" method="post">
        <div class="imgcontainer">
            <img src="{{ url_for('static', filename='img_avatar2.png') }}" alt="Avatar" class="avatar">
        </div>

        <div class="container">

            <label for="email"><strong>Email</strong></label>
            <input id="email" type="text" placeholder="Enter Email" name="email" required>
            <button type="submit">Reset Password</button>

        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href='/'>
                <button type="button" class="cancelbtn">Cancel</button>
            </a>
        </div>

    </form>
{% endblock %}