{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block js_script %}
    <script src="{{ url_for('static', filename='signup_check.js') }}"></script>
{% endblock %}

{% block lateral_panel%}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">Login</a>
    <a href="signup">Signup</a>
{% endblock %}

{% block title %}Register Form{% endblock %}

{% block form %}

    <form id="form">

        {% block imagen %}
            {{ super() }}
        {% endblock %}

        <div class="container">
            {{ macros.input('user', 'Username', 'Enter Username', 'text') }}
            {{ macros.input('email', 'Email', 'Enter Email', 'text') }}

            {{ macros.input('pwd', 'Password', 'Enter Password', 'password') }}
            {{ macros.input('pwd_rpt','Repeat password', 'Repeat password', 'password') }}

            <button id="submit_btn" type="submit">Register</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <a href='/'>
                <button type="button" class="cancelbtn">Cancel</button>
            </a>
        </div>
    </form>
{% endblock %}