body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-steel {
    background-color: #46A322;
}

.current_inactive {
    background-color: #9eca8a;
}

.current_active {
    background-color: #ca8282;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

#content {
    background: white;
    border: 1px solid #CCC;
    padding: 15px 20px 30px 35px;
}

#content .row {
    margin-left: 0px;
}

#brand {
    display: inline;
}

.search-form {
    margin: 0 5px;
}

.search-form form {
    margin: 0;
}

.btn-menu {
    margin: 4px 5px 0 0;
    float: right;
}

.btn-menu a, .btn-menu input {
    padding: 7px 16px !important;
    border-radius: 1px !important;
    border-color: #ccc;
}

.btn, textarea, input[type], button, .model-list {
    border-radius: 0;
}

.model-list {
    border-radius: 0;
}

.nav-pills li > a {
    border-radius: 0;
}

.select2-container .select2-choice {
    border-radius: 0;
}

a.dropdown-toggle b.caret {
    margin-left: 5px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


.yui3-button {
    margin: 10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}

