{% extends "auxiliar/layout.html" %}
{% block content %}
    <form class="col-md-12" id="form">
        <div class="container" style="background-color:#f1f1f1">
            <h1>
                About Page
            </h1>
            <h2>
                Author: Ciprian Ilut Pop
            </h2>
            <p>
                I have developed this website as part of my final bachelor project. For developing it I have use code
                from
                different sources I will share it on my final document.
                This site is designed to administrate some Bacnet Objects that owns a user, that
                also are gonna be administrated.

            </p>
        </div>
    </form>
{% endblock content %}