<!DOCTYPE html>
<html>
    <head>
        <title>My Web Page!</title>
        <style>
            p::selection {
                color: red;
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <p>
            Texto de prueba a esta pagina unicamentes se puede acceder si te has logueado en la aplicacion <br/>
            Para comprobar esto accede a http://127.0.0.1:5000/logout y posterirormente intenta de nuevo acceder http://127.0.0.1:5000/prueba_auth, te dara error
        </p>
    </body>
</html>
