{% extends "auxiliar/layout.html" %}
{% block content %}
    {% if user %}
        <legend class="border-bottom mb-4">Administrator view</legend>
        <div class="form-group">
            <a href="{{ url_for('admin.users', user_id=user.id ) }}">
                <button type="button" class="btn btn-outline-info">All Users</button>
            </a>
        </div>
        <div class="media">

            <img class="rounded-circle account-img" src="{{ url_for('static', filename='img_avatar2.png') }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.usr }}</h2>
            </div>
        </div>
    {% else %}
        <legend class="border-bottom mb-4">User view</legend>
    {% endif %}



    <div class="form-group">
        <a href="{{ url_for('admin.register_alarm') }}">
            <button class="btn btn-outline-info">Register Schedule</button>
        </a>
    </div>
    <div class="form-group">
        <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text"
               placeholder="Search..">
    </div>
    <table style="width:100%" class="sortable-theme-light order-table" data-sortable>

        <thead>
        <tr>
            <th data-sortable="false" data-sorted="false"></th>
            <th data-sorted="true" data-sorted-direction="descending">Object ID</th>
            <th data-sorted="false">Object Name</th>
            <th data-sorted="false">Object Type</th>
            <th data-sorted="false">Present Value</th>
            <th data-sorted="false">Description</th>
        </tr>
        </thead>

        {% for schedule in schedules %}
            <tr>
                <td>

                    {% if user %}
                        <a href="{{ url_for('admin.schedule', schedule_id=schedule.id) }}">
                            <i class="fas fa-pen"></i>
                        </a>
                    {% else %}
                        <a href="{{ url_for('bacnet.schedule', schedule_id=schedule.id) }}">
                            <i class="fas fa-pen"></i>
                        </a>
                    {% endif %}

                    <a href="{{ url_for('bacnet.delete_schedule', schedule_id=schedule.id) }}">
                        <i class="fas fa-trash"
                           onclick="return confirm('Are you sure you want to delete this record?');"></i>
                    </a>
                </td>
                <td>
                    {% if user %}
                        <a href="{{ url_for('admin.schedule', schedule_id=schedule.id, user_id=schedule.id_user) }}">
                            <i> {{ schedule.object_identifier }}</i>
                        </a>
                    {% else %}
                        <a href="{{ url_for('bacnet.schedule', schedule_id=schedule.id) }}">
                            <i> {{ schedule.object_identifier }} </i>
                        </a>
                    {% endif %}


                </td>
                <td>{{ schedule.object_name }}</td>
                <td>{{ schedule.object_type }}</td>
                <td>{{ schedule.present_value }}</td>
                <td>{{ schedule.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}